body {
    font-family: "Roboto Condensed", sans-serif;
}

:root {
    --grid-col-width: 80px;
    --grid-gutter: 20px;
    --grid-margin: 50px;
    --num-columns: 9;
    --grid-base-height: 90vh;
}

.grid-container {
    display: grid;
    height: var(--grid-base-height);
    margin: var(--grid-margin) 0;
    width: 100%;
    overflow: hidden;

    column-gap: var(--grid-gutter);
    row-gap: var(--grid-gutter);

    padding: 0;
    box-sizing: border-box;

    /* Columnas con ancho fijo */
    grid-template-columns:
        1fr
        repeat(var(--num-columns), var(--grid-col-width))
        1fr;

    /* Filas en posiciones específicas del alto, son acumulativas*/
    grid-template-rows:
        calc((var(--grid-base-height) - (3 * var(--grid-gutter))) * 0.1)
        calc((var(--grid-base-height) - (3 * var(--grid-gutter))) * 0.8)
        calc((var(--grid-base-height) - (3 * var(--grid-gutter))) * 0.05)
        auto;
}

#editorial-header {
    grid-column: 2 / -2;
    grid-row: 1
}

#grafica-sector {
    grid-column: 2/7;
    grid-row: 2 / 3;
    padding: 0 !important
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#barra-lateral {
    grid-column: 7/-2;
    grid-row: 2 / 3;
}

#fuente {
    grid-column: 2/7;
    grid-row: 3;
}
