:root {
    /* Fuentes */
    --font-heading: "Outfit", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-data: "Roboto Condensed", sans-serif;
}

h1 {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

p {
    font-family: var(--font-body);
    font-weight: 400;
    color: #1a1a1a;
}

small,
.d3-axis-labels {
    font-family: var(--font-data);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #808080;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

.tick text {
    font-family: var(--font-data); /* Roboto Condensed */
    font-size: 11px;
    fill: #808080;
}
.domain,
.tick line {
    stroke: #ccc;
}

@media (min-width: 1200px) {
    :root {
        --grid-col-width: 100px;
        --grid-gutter: 20px;
        --grid-gutter-row: 20px;
        --num-row-gutters: 3;
        --grid-margin: 50px;
        --num-columns: 9;
        --grid-base-height: 90dvh;

        --fs-h1: 3rem;
        --fs-body: 1.2rem;
        --fs-small: 0.875rem;
    }
}

@media (min-width: 700px) and (max-width: 1199px) {
    :root {
        --grid-col-width: 50px;
        --grid-gutter: 20px;
        --grid-gutter-row: 20px;
        --num-row-gutters: 3;
        --grid-margin: 50px;
        --num-columns: 9;
        --grid-base-height: 90dvh;

        --fs-h1: 2.5rem;
        --fs-body: 1.2rem;
        --fs-small: 0.875rem;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    :root {
        --grid-col-width: 140px;
        --grid-gutter: 20px;
        --grid-gutter-row: 20px;
        --num-row-gutters: 3;
        --grid-margin: 50px;
        --num-columns: 3;
        --grid-base-height: 90dvh;

        --fs-h1: 2rem;
        --fs-body: 1.2rem;
        --fs-small: 0.875rem;
    }
}

@media (max-width: 499px) {
    :root {
        --grid-col-width: calc(100vw - 40px);
        --grid-gutter: 20px;
        --grid-gutter-row: 20px;
        --num-row-gutters: 3;
        --grid-margin: 50px;
        --num-columns: 1;
        --grid-base-height: 90dvh;

        --fs-h1: 2rem;
        --fs-body: 1.2rem;
        --fs-small: 0.875rem;
    }
}

.grid-container {
    display: grid;
    min-height: var(--grid-base-height);
    margin: var(--grid-margin) 0;
    width: 100%;

    column-gap: var(--grid-gutter);
    row-gap: var(--grid-gutter);

    padding: 0;
    box-sizing: border-box;
    min-width: 0;

    /* Columnas con ancho fijo */
    grid-template-columns:
        1fr
        repeat(var(--num-columns), var(--grid-col-width))
        1fr;

    /* Filas en posiciones específicas del alto, son acumulativas*/
    grid-template-rows:
        calc(
            (
                    var(--grid-base-height) -
                        (var(--num-row-gutters) * var(--grid-gutter-row))
                ) *
                0.08
        )
        calc(
            (
                    var(--grid-base-height) -
                        (var(--num-row-gutters) * var(--grid-gutter-row))
                ) *
                0.8
        )
        calc(
            (
                    var(--grid-base-height) -
                        (var(--num-row-gutters) * var(--grid-gutter-row))
                ) *
                0.05
        )
        auto;
}

#editorial-header {
    align-self: end;
}

#barra-lateral {
    min-height: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#barra-lateral::-webkit-scrollbar {
    display: none;
}

@media (min-width: 1200px) {
    #editorial-header {
        grid-column: 2 / -2;
        grid-row: 1;
    }

    #grafica-sector {
        grid-column: 2/7;
        grid-row: 2 / 3;
        padding: 0 !important;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #barra-lateral {
        overflow-y: auto;
        grid-column: 7/-2;
        grid-row: 2 / 3;
    }

    #fuente {
        grid-column: 2/7;
        grid-row: 3;
    }

    #grafica-sector {
        border: 0.2px dotted black;
    }
}

@media (min-width: 500px) and (max-width: 1199px) {
    #editorial-header {
        grid-column: 2 / -2;
        grid-row: 1;
    }

    #grafica-sector {
        grid-column: 2/-2;
        grid-row: 2 / 3;
        padding: 0 !important;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #barra-lateral {
        overflow-y: visible;
        grid-column: 2/-2;
        grid-row: 4 / 4;
    }

    #fuente {
        grid-column: 2/7;
        grid-row: 3/3;
    }

    #grafica-sector {
        border: 0.2px dotted black;
    }
}

@media (max-width: 499px) {
    #editorial-header {
        grid-column: 2;
        grid-row: 1;
    }

    #grafica-sector {
        grid-column: 2;
        grid-row: 2 / 3;
        padding: 0 !important;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #barra-lateral {
        overflow-y: visible;
        grid-column: 2;
        grid-row: 4 / 4;
    }

    #fuente {
        grid-column: 2;
        grid-row: 3/3;
    }

    #grafica-sector {
        border: 0.2px dotted black;
    }
}

#editorial-header h1 {
    margin: 0;
    line-height: 1;
    padding-bottom: 0;
}

h1 {
    font-size: var(--fs-h1);
    line-height: 1.1;
}

p {
    font-size: var(--fs-body);
    line-height: 1.5;
}

small {
    font-size: var(--fs-small);
}
